# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Node / Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build / Output
dist/
dist-ssr/
*.local

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Netlify
.netlify/
